version: "3"
services:
  api:
    image: fnproject/fnserver:latest
    environment:
      - FN_DB_URL=mysql://root:default_root_password@tcp(db:3306)/fn
      - FN_LOGSTORE_URL=mysql://root:default_root_password@tcp(db:3306)/fn
      - FN_MQ_URL=redis://mq:6379
      - FN_PORT=8080
    ports:
      - "8080:8080"
    volumes:
      - "./data/app:/app/data"
      - "/var/run/docker.sock:/var/run/docker.sock"
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '0.3'
          memory: 500M
        reservations:
          cpus: '0.2'
          memory: 333M
  dashboard:
    image: grafana/grafana:latest
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=password
    ports:
      - "3000:3000"
    volumes:
      - "./data/grafana:/var/lib/grafana"
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '0.3'
          memory: 200M
        reservations:
          cpus: '0.2'
          memory: 133M
  db:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=default_root_password
      - MYSQL_DATABASE=fn
      - MYSQL_USER=default_user
      - MYSQL_PASSWORD=default_password
    ports:
      - "3306:3306"
    volumes:
      - "./data/mysql/mnt:/var/lib/mysql"
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '0.3'
          memory: 200M
        reservations:
          cpus: '0.2'
          memory: 133M
  metrics:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - "./data/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml"
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '0.3'
          memory: 200M
        reservations:
          cpus: '0.2'
          memory: 133M
  mq:
    image: redis:4-alpine
    ports:
      - "6379:6379"
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '0.3'
          memory: 99M
        reservations:
          cpus: '0.2'
          memory: 66M
  registry:
    image: registry:2
    volumes:
      - "./data/registry:/var/lib/registry"
    ports:
      - "5000:5000"
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '0.3'
          memory: 99M
        reservations:
          cpus: '0.2'
          memory: 66M
  ui:
    image: fnproject/ui:latest
    ports:
      - "4000:4000"
    environment:
      - FN_API_URL=http://api:8080
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '0.3'
          memory: 99M
        reservations:
          cpus: '0.2'
          memory: 66M